#puzzle {
    border: 5px solid black;
    background-color: #DDDDDD;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    flex-direction: column;
}

.puzzle-row {
    display: flex;
}

.tile {
    width: 70px;
    height: 70px;
    background-color: white;
    border: 0.2px solid #B0B0B0;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.tile-selected {
    background-color: black;
    color: white;
}

.tile-empty {
    width: 72px;
    height: 72px;
    background-color: transparent;
    border: none;
}

.tile p {
    margin: 0;
    font-size: 35px;
}

.move-up {
    animation-name: move-up;
    animation-duration: 1s;
}

.move-down {
    animation-name: move-down;
    animation-duration: 1s;
}

.move-left {
    animation-name: move-left;
    animation-duration: 1s;
}

.move-right {
    animation-name: move-right;
    animation-duration: 1s;
}

@keyframes move-up {
    from {
        position: relative;
        top: 0px;
    }
    to {
        position: relative;
        top: -72px;
    }
}

@keyframes move-down {
    from {
        position: relative;
        top: 0px;
    }
    to {
        position: relative;
        top: 72px;
    }
}

@keyframes move-left {
    from {
        position: relative;
        left: 0px;
    }
    to {
        position: relative;
        left: -72px;
    }
}

@keyframes move-right {
    from {
        position: relative;
        left: 0px;
    }
    to {
        position: relative;
        left: 72px;
    }
}